*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 59%, rgba(51,51,51,1) 59%, rgba(51,51,51,1) 100%);
}

li{
    color: rgb(0, 0, 0);
}

ul a img h3 button:hover{
    filter: brightness(10px);
}

button{
    /* brdoer: 3px solid #ff0097; */
    border: none;
    border-radius: 10px;
    color: black;
    margin: 10px 10px;
    background: rgb(255, 255, 255);
}

a{
    text-decoration-line: none;
    color: rgb(255, 255, 255);
}

h1{
    font-family: fantasy;
    font-size: 40px;
    color: white;
}

h3{
    font-family: fantasy;
    color: black;
}

.tt{
    color:white;
}

.tuto{
    font-family: fantasy;
}

.container{
    border-radius: 10px;
    margin: 10px;
}

.buscador2{
    margin: 10px 0;
    text-align: center;
    vertical-align: middle;
}

.titulo{
    color: #ffffff;
}

.vs{
    color: rgb(255, 253, 253);
    font-family: fantasy;
}

.centrado{
    text-align: center;
    vertical-align: middle;
}

.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.navbar{
    color: white;
}

.juegos{
    height: 200px;
    width: 150px;
    margin-left: 10px;

}
.juego-img{
    height: 130px;
    width: 130px;
    border-radius: 10px
}

.bg-green{
    background-color: transparent;
}

.navbar-nav{
    color: black;
}

.navbar.item{
    color: black;
}

.nav-link{
    color: black;
}

/* Buscador */
@import url('sreach.css');

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: initial;
    align-items: initial;
}

input{
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #b905e6;
    font-weight: 600;
}

#listaArticulos{
    font-size: 30px;
    list-style: none;
    color: #ffffff;
    margin: 10px 10px;
}
li{
    margin: 5px 5px;
}

.filtro{
    display: none;
}
